
/********************************
 GENERAL
********************************/

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: grey;
  background-color: #fff;
}

img {
  max-width: 100%;
}

h1 {
  color: black;
  margin: 15px 0;
  padding: 20px 20px;
  font-weight: 100;
  line-height: 0.8em;
}

/********************************
 HEADING
********************************/

#name {
  text-decoration: none;
}

/********************************
 NAVIGATION BAR
********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  /*puts the three lists items in one line*/
  display: inline-block;
}

nav a {
  font-weight: 100;
  padding: 15px 10px;
  text-decoration: normal;
}

a:hover {
  opacity: 0.5;
}

/********************************
 FOOTER
********************************/

footer {
  font-size: 0.75em;
  padding-top: 5px;
  color: #ccc;
}

/********************************
 CLASSES AND IDS
********************************/

#wrapper {
  color: black;
  max-width: 940px;
  padding: 0 5%;
  margin: 0 auto;
  padding-bottom: 1px;
}

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 20px;
  box-shadow: none;
}

.contact-info li a {
  color: black;
}

.contact-info {
  font-size: 0.9em;
}

/********************************
 CENTER THE PAGE VERTICALLY
********************************/

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
