
/********************************
 GENERAL
********************************/

@import url(../SanFranciscoFont/darkonlight.css);

* {
	background-color: #D3D3D3;
	color: white;
	font-weight: 50;
}

body {
  font-family: 'San Francisco Text', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
  opacity: 90%;
}

h1 {
  margin: 15px 0;
  padding: 20px 20px;
  line-height: 0.8em;
}

header a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

img:hover {
    cursor: pointer;
}

/********************************
 NAVIGATION BAR
********************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 100;
  padding: 15px 10px;
}

/********************************
 CLASSES AND IDS
********************************/

#wrapper {
  max-width: 940px;
  padding: 0 5%;
  margin: 0 auto;
  padding-bottom: 1px;
}

.profile-photo {
  display: block;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto 20px;
  box-shadow: none;
  border-radius: 50%;
  border: 2px solid white;
}

.social-icons {
  max-width: 32px;
  max-height: 32px;
}

.contact-info {
  font-size: 0.95em;
}

/********************************
 CENTER THE PAGE VERTICALLY
********************************/

.outer {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
